<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OKTestedAdmin_Regression_Automation_Test_Cases">
 
 
  <test name="OKTestedAdmin_Regression_Automation_Test_Cases">
    <classes>
    
     <class name="com.OKTAdmin.testcases.OKTAdminLoginPageTest"/>
      
       
      
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
